@import './Colors.scss';
.header-wrapper{
  height: 37px;
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 9999;
  img{
    position: absolute; 
    margin: 13px 0 0 10px;
  }
}