@import './Colors.scss';
@import './Sizes.scss';
@import './Sprites.scss';

@font-face{
  font-family: ff6;
  src: url('/resources/fonts/ff6font.woff');
}


@mixin logo($url, $width, $height){
  //display: inline-block;
  width: $width;
  height: $height;
  background-image: url($url);
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

//gutted typewriter effect to make it simpler to implement
@mixin typewriter($delay, $animlength, $fadelength){
  opacity: 0;
  text-align: center;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  fadeIn 2s ease-in-out $delay forwards,
  //typing $animlength steps(1000, end) $delay,
  fadeOut 2s linear $fadelength forwards;
}

@mixin background($url){
  height: 100%;
  width: 100%;
  background-image: url($url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}


html,body{
  background-color: black;
  height: 100%;
  font-family: ff6;
  font-size: 1.8em;
}
#app{
  height: 100%;
}
.app{
  height: 100%;
}

.story1-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  .icecliff{
    @include background('/resources/backgrounds/icecliff1.png');
    animation: fadeOut 2s ease-out 6s forwards;
  }
  .narshe{
    opacity: 0;
    @include background('/resources/backgrounds/narshe1.png');
    animation:
      fadeIn 2s ease-in 6s forwards, 
      fadeOut 2s ease-out 12s forwards;
  }
  .imperialcamp{
    opacity: 0;
    @include background('/resources/backgrounds/imperialcamp1.png');
    animation: 
      fadeIn 2s ease-in 12s forwards,
      fadeOut 2s ease-out 18s forwards;
  }
  .zozo{
    opacity: 0;
    @include background('/resources/backgrounds/zozo1.png');
    animation:
      fadeIn 2s ease-in 18s forwards,
      fadeOut 2s ease-out 24s forwards,
  }
  .message{
    position: absolute;
    color: whitesmoke;
    border-radius: unset;
    background-color: unset;
    font-size: 42px;
  }
  .message1{
    @include typewriter(0s, 3.5s, 6s);
    width: 60%;
    top: 10%;
    left: 20%;
  }
  .message2{
    @include typewriter(6s, 3.5s, 12s);
    width: 60%;
    top: 35%;
    left: 0%;
  }
  .message3{
    @include typewriter(12s, 3.5s, 18s);
    width: 60%;
    top: 35%;
    right: 0%;
  }
  .message4{
    @include typewriter(18s, 3.5s, 24s);
    width: 60%;
    top: 70%;
    left: 20%;
  }
  animation: fadeOut 6s ease-in-out 24s forwards;
}

.story2-wrapper{
  height: 100vh;
  width: 100vw;
  position: absolute;
  opacity: 0;
  animation: fadeIn 10s ease-in-out 24s forwards;
  background-color: white;
  .background{
    opacity: .7;
    @include background('/resources/backgrounds/ff6background.jpg');
  }
  .logo-wrapper{
    display: flex;
    align-content: center;
    flex-flow: column;
    justify-content: center;
    margin-top: -92vh;
    //margin-left: 26vw;
    width: 100%;
    //border-radius: 30px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.90);
    position: absolute;
    background-color: rgba(255, 255, 255, .55);
    .top{
      margin-left: 12px;
      position: absolute;
      top: 0;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: flex-start;      
    }
    .middle{
      margin-top: 35px;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      .fflogo{
        margin: 20px;
        @include logo('/resources/logos/ff6logo.png', 412px, 155px);
        z-index: 3;
        pointer-events: none;
      }
      .on{
        color: black;
        z-index: 3;
      }
      .switchlogo{
        margin: 20px;
        @include logo('/resources/logos/switchlogo.png', 160px, 200px);
        z-index: 3;
      }
    }
    .bottom{
      span{
        position: relative;
        left: -40%;
        animation: scroll 7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      height: 68px;
    }
  }
  .overlay{  
    height: 100vh;
    width: 100vw;
    background: linear-gradient(top, black 0%, red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -webkit-linear-gradient(top, black 0%, red 100%); /* Chrome10-25,Safari5.1-6 */
    opacity: .7;
  }
}

.footer{
  font-size: 26px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  padding: unset;
  background-color: unset;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes fadeIn{
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes fadeOut{
  from {opacity: 1}
  to {opacity: 0}
}
@keyframes scroll{
  from{left: -40%}
  to{left: 100%}
}

