@mixin sprite($url, $width:32px, $height:48px){
  display: inline-block;
  min-width: $width !important;
  min-height: $height !important;
  background-image: url("/resources/gifs/"+$url+".gif");
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 10px;
  padding: unset;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: 35px;
  margin-right: 38px;
  height: auto;
  font-size: 32px;
  z-index: 2;
}   

.terra{
  @include sprite('terrablink');
  &:hover{
    @include sprite('terrawink');
  }
  &:active{
    @include sprite('terrashocked');
  }
}
.sabin{
  @include sprite('sabinblink');
  &:hover{
    @include sprite('sabincast');
  }
  &:active{
    @include sprite('sabinouch');
  }
}
.locke{
  @include sprite('lockefinger');
  &:hover{
    @include sprite('lockelaugh');
  }
  &:active{
    @include sprite('lockeshocked');
  }
}
.edgar{
  @include sprite('edgarfinger');
  &:hover{
    @include sprite('edgarcast');
  }
  &:active{
    @include sprite('edgarhit');
  }
}
  .celes{
    @include sprite('celesfinger');
    &:hover{
      @include sprite('celeslaugh');
    }
    &:active{
      @include sprite('celesshock');
    }
  }
.shadow{
  @include sprite('shadowlaugh');
  &:hover{
    @include sprite('shadowvictory');
  }
  &:active{
    @include sprite('shadowwounded');  
  }
}
.cyan{
  @include sprite('cyanwave');
  &:hover{
    @include sprite('cyanvictory');
  }
  &:active{
    @include sprite('cyanshock');
  }
}
.gau{
  @include sprite('gaublink');
  &:hover{
    @include sprite('gaulaugh');
  }
  &:active{
    @include sprite('gauangry');
  }
}
.setzer{
  @include sprite('setzerfinger');
  &:hover{
    @include sprite('setzerlaugh');
  }
  &:active{
    @include sprite('setzerhit');
  }
}
.mog{
  @include sprite('mogblink');
  &:hover{
    @include sprite('moglaugh');
  }
  &:active{
    @include sprite('moghurt');
  }
}
.strago{
  @include sprite('stragolaugh');
  &:hover{
    @include sprite('stragowave');
  }
  &:active{
    @include sprite('stragosurprised');
  }
}
.relm{
  @include sprite('relmfinger');
  &:hover{
    @include sprite('relmwink');
  }
  &:active{
    @include sprite('relmhit');
  }
}
.gogo{
  @include sprite('gogoblink');
  &:hover{
    @include sprite('gogolaugh');
  }
  &:active{
    @include sprite('gogohit');
  }
}
.umaro{
  @include sprite('umarowave');
  &:hover{
    @include sprite('umarovictory');
  }
  &:active{
    @include sprite('umarohit');
  }
}